.about-us{
    &__accordion{
        .card{
            font-family: 'heading';
            margin-bottom:15px;
        
        .btn-link{
            color:@black;
            width: 100%;
            text-align: left;
            font-size: @fontSize20;
                &::after{
                    content: "\2212";
                    color: @black;
                    font-weight: bold;
                    float: right;
                    margin-left: 5px;
                    font-family: auto;
                    font-size: @fontSize20;
                }
            &.collapsed{
                &::after{
                    content: '\002B';
                    color: @black;
                    font-weight: bold;
                    float: right;
                    margin-left: 5px;
                    font-family: auto;
                    font-size:@fontSize20;
                 }
                }
            } 
        }
    } 
}       