.admin-panel{
    .notification{
        width: 88%;
        font-size: 35px;
        color: @primary-color;
    }
    &__block{
        height: 150px;
        text-align: center;
        border-radius: 35px;
        margin:10px;
        padding:10px;
        cursor: pointer;
        i{
            font-size: 100px
        }
        p{
            font-size:@fontSize20;
            font-weight: 500;
        }
    }
}