.gallery{
    &__img{
        display: inline-block;
        flex: 0 0 24%;
        max-width: 24%;
        img{
            width:200px;
            height:200px;
            margin:10px;
        }
    }
    &__change{
        img{
            width:420px;
            height:420px;
            margin:10px;
        }
    }
  
}