.navbar{
    &.bg-light{   
         background-image: linear-gradient( @primary-color 90%, @salmon-red);
    }
    >.navbar-brand{
        .logo{
            height: 80px;
            width: 80px;
            margin: 0px 15px 10px 20px;
          }
      }
      .navbar-nav {
          .nav-link{
              font-size:@fontSize20;
          }
      }
      .rounded-circle{
        height: 90px;
        margin: 10px;
        border: 2px solid @salmon-red ;
        @media @mediumDevices {
            display: none;
        }
      }
}
footer{
    background-image: linear-gradient(@black 90%, @primary-color);
    address{
        font-style: oblique;
        font-size:@fontSize14;
        padding-top: 10px;
    }
}