.navbar.bg-light {
	background-image: linear-gradient(#fed211 90%, #ed3627);
}

.navbar > .navbar-brand .logo {
	height: 80px;
	width: 80px;
	margin: 0px 15px 10px 20px;
}

.navbar .navbar-nav .nav-link {
	font-size: 20px;
}

footer {
	background-image: linear-gradient(#131516 90%, #fed211);
}

footer address {
	font-style: oblique;
	font-size: 14px;
	padding-top: 10px;
}

body {
	color: #131516;
	line-height: 1.5;
	font-size: 14px;
	background: #f9f9f9;
}

h3 {
	font-family: 'telugu';
}

.main-container {
	margin-top: 140px;
}

.error {
	border-color: #ed3627;
}

.form-error {
	font-size: 12px;
	color: #ed3627;
}

.carousel-inner {
	height: 400px;
}

.footer {
	width: 100%;
	height: 200px;
}

.radio {
	border-left: 3px dashed #ed3627;
	height: auto;
	position: absolute;
	left: 2px;
	top: 0;
	padding-left: 7px;
	margin-bottom: 10px;
	margin-top: 0;
}

.radio input {
	position: relative;
	top: 18px;
	right: 14px;
}

.radio label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 13px;
	margin: 0;
	font-size: 12px;
	font-family: 'telugu2';
}

.radio label:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 23px;
	height: 23px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #fed211;
	border-radius: 50%;
	background-color: #FFFFFF;
	-webkit-transition: border 0.15s ease-in-out;
	-moz-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}

.radio label:after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 15px;
	height: 15px;
	left: 4px;
	top: 4px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #ed3627;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
	opacity: 0;
	z-index: 1;
}

.radio input[type="radio"]:focus {
	outline: none;
	outline-offset: -2px;
}

.radio input[type="radio"]:focus + label:before {
	outline: none;
	outline-offset: -2px;
}

.radio input[type="radio"]:checked + label:after {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}

.footer-social__media a {
	background: #FFFFFF;
	padding: 10px;
	border-radius: 50%;
	color: #131516;
	margin-right: 10px;
}

.footer-social .hosted {
	text-transform: capitalize;
	text-align: right;
	font-size: 12px;
	padding-top: 22px;
	font-weight: 500;
	margin: 0px;
}

.footer-social .copywrite {
	text-transform: capitalize;
	text-align: left;
	font-size: 12px;
	padding-top: 22px;
	font-weight: 500;
}

@font-face {
	font-family: 'telugu';
	src: url('../fonts/Gidugu Regular.ttf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'telugu1';
	src: url('../fonts/GIST-TLOT Krishna Bold.ttf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'telugu2';
	src: url('../fonts/Mandali-Regular.ttf');
	font-style: bold;
	font-weight: 500;
}

@font-face {
	font-family: 'heading';
	src: url('../fonts/TimmanaRegular.ttf');
	font-style: bold;
	font-weight: 500;
}

.modal-header {
	font-family: 'telugu';
}

.modal-body .news-title {
	font-size: 14px;
	font-family: 'telugu2';
}

.sitemap img {
	width: 120px;
	height: 120px;
	padding: 15px;
}

.tdp__news-date {
	font-size: 40px;
}

.tdp__news-mon p {
	margin: 0;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 500;
}

.tdp__news-info {
	font-family: 'telugu2';
}

.tdp__news .owl-carousel .owl-item {
	width: auto !important;
}

.tdp__news .owl-carousel .owl-wrapper {
	width: auto !important;
	display: -webkit-box !important;
}

.tdp__news .owl-theme .owl-controls .owl-buttons div {
	background: #fed211;
	text-transform: capitalize;
}

.tdp__latest-news {
	border-left: 2px dotted #fed211;
}

.tdp__latest-news--date {
	display: inline-block;
	padding-bottom: 4px;
}

.tdp__latest-news--date p {
	margin: 0;
	text-align: center;
	font-weight: 600;
	font-size: 10px;
	text-transform: capitalize;
	vertical-align: middle;
}

.tdp__complaint {
	margin-top: 2.7rem;
}

.tdp__complaint .fas {
	font-size: 7rem;
}

.tdp__complaint p {
	font-size: 24px;
}

.tdp__complaint .box {
	background: #fed211;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}

.tdp__socialstream--fb iframe {
	width: 315px;
}

.tdp__socialstream--twitter iframe {
	width: 315px;
}

.about-us__accordion .card {
	font-family: 'heading';
	margin-bottom: 15px;
}

.about-us__accordion .card .btn-link {
	color: #131516;
	width: 100%;
	text-align: left;
	font-size: 20px;
}

.about-us__accordion .card .btn-link:hover {
	text-decoration: none;
}

.about-us__accordion .card .btn-link::after {
	content: "\2212";
	color: #131516;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	font-family: auto;
	font-size: 20px;
}

.about-us__accordion .card .btn-link.collapsed::after {
	content: '\002B';
	color: #131516;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	font-family: auto;
	font-size: 20px;
}

.about-us__accordion .card .card-body ul p {
	line-height: 2;
	padding: 5px 0 0 0;
	font-size: 16px;
	text-align: center;
}

.gallery__img {
	display: inline-block;
	flex: 0 0 18%;
	max-width: 18%;
}

.gallery__img img {
	width: 150px;
	height: 150px;
	padding: 10px;
}

.gallery__change img {
	width: 420px;
	height: 420px;
	margin: 10px;
}

.contactus__title {
	padding: 10px;
}

.contactus__title h1 {
	text-align: center;
}

.admin-panel {
	background-image: url(../images/adminbg.png);
	background-size: cover;
	height: auto;
	margin: 115px -15px 0 -15px;
}

.admin-panel .notification {
	width: 88%;
	font-size: 35px;
	color: #fed211;
}

.admin-panel__block {
	height: 150px;
	text-align: center;
	border-radius: 35px;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}

.admin-panel__block i {
	font-size: 100px;
}

.admin-panel__block p {
	font-size: 20px;
	font-weight: 500;
}

.admin-panel__login {
	height: 500px;
	background: #131516;
	opacity: 0.5;
	padding: 3rem;
	color: #FFFFFF;
}

.admin-panel__login p {
	font-size: 24px;
}

.admin-panel .bg-color {
	background: #FFFFFF;
	border-radius: 10px;
}

.admin-panel h1 {
	font-size: 40px;
	color: #ed3627;
	text-align: center;
	font-family: 'telugu';
	line-height: 10;
}

@media (max-width : 575.98px) {

.carousel-inner {
	height: auto;
}

}

